<!-- FOOTER -->
<div class="navbar navbar-fixed-bottom footer">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-4" >
			<a href="#"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-lg-4" >
			<a href="#"><i class="fa fa-facebook"></i></a>
			</div>
			<div class="col-lg-4" >
			<a href="#"><i class="fa fa-dribbble"></i></a>
			</div>	
		</div><!-- row -->
	</div><!-- container -->
</div><!-- Footer -->