<h1>Today's Reported Lost Pets!</h1>
<h2><img src="http://rideons.files.wordpress.com/2013/04/img_3399-final.jpg"></h2>

<ul>

	<% @posts.each do |p| %>

		<li>
			<strong><%= p.title %></strong> -- <%= p.body %> <%= link_to "More info", post_path(p) %>
		</li>
		
	<% end %>

</ul>
