<h1>Today's Reported Lost Pets!</h1>


<ul>

	<% @posts.each do |p| %>

		<li>
			<strong><%= p.title %></strong> -- <%= p.body %> <%= link_to "More info", post_path(p) %>
		</li>
		
	<% end %>

</ul>

<a href="posts/new">Add a lost/stranded pet</a><br />
<a href="users/new">Sign Up to report a lost or stranded pet!</a>